/* Style the warning message for old IE browsers */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom font-awesome "icons" */
.fa-percent:before { content: "%"; font-family: "Open Sans"; font-weight: 900; }
.fa-numbers:before { content: '123'; font-family: "Open Sans"; font-weight: 900; }


/* Tell body leave a gap at the top for the navigation when the page is scrolled to the top */
body { position: relative; padding-top: 107px; }

/* Fix header to the top */
header { position: fixed; top: 0; left: 0; width: 100%; background: #fff;}

header div.dropdown { padding-left: 30px; margin-bottom: 0px; border-radius: 0; }
header div.dropdown .dropdown-menu { box-shadow: 0; -webkit-box-shadow: 0; -moz-box-shadow: 0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }

header .formula-bar { border: 1px solid #e7e7e7; border-top: none; width: 100%; }

header .navbar { padding-left: 20px; margin-bottom: 0px; border-radius: 0; }
header .navbar .btn { padding-right: 6px; padding-left: 6px; }
header .navbar .divider-vertical { height: 52px; margin: 0 5px; border-right: 1px solid #e7e7e7; }
@media (max-width: 767px) { header .navbar-collapse .nav > .divider-vertical { display: none; } }

header nav.menu { min-height: 0; border-bottom: none; padding-left: 10px; background: none; }
header nav.menu .nav > li > a { padding: 5px 15px;}

